@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400");

:root{
  --main-color: #2ddf75;
  --background-color: #2e2e2e;
}
body{
  background-color: var(--background-color);
  min-height: 80vh;
  display: flex;
  font-family: Lato, Arial, sans-serif;
  color: white;
}
@media only screen and (hover: hover) {
  .page {
    margin-top: 100px;
  }
}